@import 'fonts.css';

* { text-decoration: none !important; list-style-type: none;}

body {
    background: #000;
    text-align: center;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    }

.font-ff {
  font-family: 'FF-regular';
}

.centered-contents {
  text-align: center;
  vertical-align: center;
}

.clock {
    margin-top: 6%;
}

.container {
    padding-right: 210px;
    padding-left: 210px;
}

.thumbnail {
    padding: 0px;
}

.dot {
    width: 70px;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    border-radius: 35px;
    margin-top: 20px;
    -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
    background-color: #000;
}

.dot-active-red {
    background-color: #BF1915;
    border-width: 1px;
    border-color: #fff;
    -webkit-box-shadow: 0 0 60px 10px #8C001A;
}
.dot-active-orange {
    background-color: #E56717;
    border-width: 1px;
    border-color: #fff;
    -webkit-box-shadow: 0 0 60px 10px #E56717;
}
.dot-active-yellow {
    background-color: #FDD017;
    border-width: 1px;
    border-color: #fff;
    -webkit-box-shadow: 0 0 60px 10px #FDD017;
}
.dot-active-green {
    background-color: #347c2c;
    border-width: 1px;
    border-color: #fff;
    -webkit-box-shadow: 0 0 60px 10px #347c2c;
}
.dot-active-blue {
    background-color: #0020C2;
    border-width: 1px;
    border-color: #fff;
    -webkit-box-shadow: 0 0 60px 10px #0020C2;
}
.dot-active-purple {
    background-color: #842DCE;
    border-width: 1px;
    border-color: #fff;
    -webkit-box-shadow: 0 0 60px 10px #842DCE;
}

.dot-inactive {
    background-color: #111;
    border-color: #444;
}

.dot-none {
    visibility: hidden;
}

.footer {
    position: absolute;
    margin-bottom: 7px;
    bottom: 0px;
    width: 100%;
    height: 100px;
}

.title {
    float: left;
    position: relative;
    margin-left: 40px;
    font-family: 'FF-regular';
    font-size: 30px;
    vertical-align: top;
}

.number {
    margin-left: -28px;
    font-size: 60px;
    font-family: 'FF-regular';
    -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

.btn-container {
    position: absolute;
    bottom: 20px;
    margin-left: 40px;
}
.color-btn-container {
    position: absolute;
    bottom: 20px;
    margin-right: 40px;
    right: 0px;
}
.btn-dl {
    position: relative;
    float: left;
    height: auto;
    width: auto;
    color: #444;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #555;
    -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.btn-dl-hover {
    cursor: pointer;
    /*border-color: #700;*/
    color: #444 !important;
}
.color-btn-container > button {
    position: relative;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-width: 1px;
    border-style: solid;
    background-color: #000;
    -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.color-btn-container > button.red {
    border-color: #BF1915;
    background-color: #BF1915;
}
.color-btn-container > button.orange {
    border-color: #E56717
}
.color-btn-container > button.yellow {
    border-color: #FDD017
}
.color-btn-container > button.green {
    border-color: #347c2c
}
.color-btn-container > button.blue {
    border-color: #0020C2
}
.color-btn-container > button.purple {
    border-color: #842DCE
}