@import 'fonts.css';

* { text-decoration: none !important; list-style-type: none;}

body {
    background: #000;
    text-align: center;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    }

.font-ff {
  font-family: 'FF-regular';
}

.centered-contents {
  text-align: center;
  vertical-align: center;
}

.clock {
    margin-top: 6%;
}

.container {
    padding-right: 210px;
    padding-left: 210px;
}

.thumbnail {
    padding: 0px;
}

/*.col-sm-2 {
    margin-right: -20px;
}*/

.dot {
    width: 70px;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    border-radius: 35px;
    margin-top: 20px;
    -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

.dot-active {
    background-color: #BF1915;
    border-width: 1px;
    border-color: #fff;
    -webkit-box-shadow: 0 0 60px 10px #8C001A;
}

.dot-inactive {
    background-color: #222;
}

.dot-none {
    visibility: hidden;
}

.footer {
    position: absolute;
    margin-bottom: 7px;
    bottom: 0px;
    width: 100%;
    height: 100px;
}

.title {
    float: left;
    position: relative;
    margin-left: 40px;
    font-family: 'FF-regular';
    font-size: 30px;
    vertical-align: top;
}

.btn-container {
    position: absolute;
    bottom: 20px;
    margin-left: 40px;
}
.btn-dl {
    position: relative;
    float: left;
    height: auto;
    width: auto;
    color: #444;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #555;
    -webkit-transition: all .2s ease;
          transition: all .2s ease;
}
.btn-dl:hover {
    cursor: pointer;
    border-color: #700;
    color: #444;
}

    @keyframes fade {
	    0%   { background: #1F45FC; }
	    25%  { background: #4AA02C; }
	    50%  { background: #E56717; }
	    75% { background: #842DCE; }
	    100% { background: #1F45FC; }
	}

	@-webkit-keyframes fade {
	    0%   { background: #1F45FC; }
	    25%  { background: #4AA02C; }
	    50%  { background: #E56717; }
	    75% { background: #842DCE; }
	    100% { background: #1F45FC; }
	}